@model ShopTARgv24.Models.Kindergarten.KindergartenDetailsViewModel


<h1>Details</h1>

<div class="card-body p-4">
    <h4>Kindergarten</h4>
     <hr />
     <dl class="row">
         <div class="form-group row">
            <label asp-for="Id" class="col-sm-3 col-form-label fw-bold"></label>
            @Html.DisplayFor(Model => Model.Id)
          </div>
     </dl>

     <dl class="row">
         <div class="form-group row">
            <label asp-for="Group" class="col-sm-3 col-form-label fw-bold"></label>
             @Html.DisplayFor(Model => Model.Group)
         </div>
     </dl>

     <dl class="row">
         <div class="form-group row">
             <label asp-for="ChildrenTotal" class="col-sm-3 col-form-label fw-bold"></label>
             @Html.DisplayFor(Model => Model.ChildrenTotal)
         </div>
     </dl>

     <dl class="row">
         <div class="form-group row">
             <label asp-for="KindergartenName" class="col-sm-3 col-form-label fw-bold"></label>
             @Html.DisplayFor(Model => Model.KindergartenName)
         </div>
     </dl>

     <dl class="row">
         <div class="form-group row">
             <label asp-for="Teacher" class="col-sm-3 col-form-label fw-bold"></label>
             @Html.DisplayFor(Model => Model.Teacher)
         </div>
     </dl>

     <dl class="row">
         <div class="form-group row">
             <label asp-for="CreatedAt" class="col-sm-3 col-form-label fw-bold"></label>
             @Html.DisplayFor(Model => Model.CreatedAt)
         </div>
     </dl>

     <dl class="row">
         <div class="form-group row">
             <label asp-for="UpdatedAt" class="col-sm-3 col-form-label fw-bold"></label>
             @Html.DisplayFor(Model => Model.UpdatedAt)
         </div>
     </dl>
     <a asp-action="Index" asp-controller="Kindergarten" class="btn btn-secondary m-2">Back</a>
</div>