@model IEnumerable<ShopTARgv24.Models.Kindergarten.KindergartenIndexViewModel>
@{
    int rowNumber = 1;
}


<div>
    <a asp-action="create" asp-controller="Kindergarten" type="submit" class="btn btn-primary">Create</a>
</div>

<div class="h1 text-center">Kindergartens</div>
<form method="post">
    <div class="table-responsive shadow rounded">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nr</th>
                    <th scope="col">Group name</th>
                    <th scope="col">Children count</th>
                    <th scope="col">Teacher</th>
                    <th scope="col">Kindergarten name</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var rowNumber = 1;
                }
                @foreach (var kindergartens in Model)
                {
                    <tr>
                        <td>@rowNumber</td>
                        <td>@kindergartens.Group</td>
                        <td>@kindergartens.ChildrenTotal</td>
                        <td>@kindergartens.Teacher</td>
                        <td>@kindergartens.KindergartenName</td>
                        <td>
                            <a asp-action="details" asp-controller="Kindergarten" asp-route-id="@kindergartens.Id" class="btn btn-primary">Details</a>
                            <a asp-action="update" asp-controller="Kindergarten" asp-route-id="@kindergartens.Id" class="btn btn-primary">Update</a>
                            <a asp-action="delete" asp-controller="Kindergarten" asp-route-id="@kindergartens.Id" class="btn btn-outline-danger">Delete</a>
                        </td>
                    </tr>
                    rowNumber++;
                }
            </tbody>
        </table>
    </div>
</form>
